{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Flask-App{% else %}Welcome to Flask-App{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('home.index') }}">Flask-App</a>
            </div>
            <ul class="nav navbar-nav">
                {% for item in nav.top %}
                    <li class="{{ 'active' if item.is_active else '' }}">
                        <a href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

